{% extends 'admin/base.html.twig' %}

{% block title %}Creation de la page présentation{% endblock %}

{% block body %}

<div class="dashb">
    <div class="breadcumb-area">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin_introEnglish_list') }}">Gestion du texte de présentation</a></li>
                <li class="breadcrumb-item active" aria-current="page">Création d'un texte de présentation</li>
            </ol>
        </nav>
    </div>
    <div class="adminban">
        <h1 class="text-center text-white">Création d'un texte de présentation</h1>
    </div>
    <div class="container mt-5">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="p-5 text-center mb-5">
                <button type="submit" class="btn btn-primary">Créer</button>
                <a href="{{ path('admin_introEnglish_list') }}" class="btn btn-warning"><i class="fas fa-times"></i> Annuler</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}


