{% extends 'admin/base.html.twig' %}

{% block title %}Gestion page compétence{% endblock %}

{% block body %}
    <div class="dashb">
        <div class="breadcumb-area">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gestion page compétence</li>
                </ol>
            </nav>
        </div>
        <div class="adminban">
            <h1 class="text-center text-white">Gestion page compétence</h1>
        </div>
        <table class="table table-hover">
            <thead class="table-secondary text-center">
                <th>Titre</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for skills in pagination.data %}
                    <tr>
                        <td class="text-center">{{ skills.title }}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_skills_edit',{'id':skills.id}) }}" class="btn btn-edit btn-sm">Modifier <i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_skills_delete',{'id':skills.id}) }}" data-confirm="Attention ! Etes-vous sûr de vouloir supprimer ?" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mb-5">
            <a href="{{ path('skills_create') }}" class="btn table-secondary btn-sm">Créer</a>
        </div>

    {% if pagination.data|length > 5 %}
    {{ pagination.display() }} 
     {% endif %}
    </div>
{% endblock %}
