{% extends 'admin/base.html.twig' %}

{% block title %}Modification page projet{% endblock %}

{% form_theme form _self %}

{% block body %}
    <main class="dashb">
        <div class="breadcumb-area">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('admin_project_list') }}">Gestion page projet</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Modification du projet</li>
                </ol>
            </nav>
        </div>
        <div class="adminban">
            <h1 class="text-center text-white">Modification du projet</h1>
        </div>
        <section class="col-md-8 offset-md-2 mt-5">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col bot">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h4 class="card-title">Corriger le contenu ?</h4>
                            </div>
                            <div class="card-body">
                                {{ form_widget(form) }}
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Enregistrer</button>
                                        <a href="{{ path('admin_project_list') }}" class="btn btn-warning"><i class="fas fa-times"></i> Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}



