{% extends 'base.html.twig' %}

{% block title %}Expériences | Aurelien Hurpy{% endblock %}

{% block body %}

<section class="container-fluid col-md-10 offset-md-1 mb-5">
            {% for experience in pagination.data %}
            <div class="mt-3 maint bold3">{{experience.title}}</div>
            <div class="mt-1 bold3 maingreen">{{experience.localisation}}</div>
            <div class="mt-1 bold2 hir">{{experience.date}}</div>
            <div class="mt-3 hir">{{experience.content}}</div>
            <div class="mt-3 hir">{{experience.content2}}</div>
            <div class="mt-3 hir">{{experience.content3}}</div>
            <div class="mt-3 hir">{{experience.content4}}</div>
            <div class="mt-3 hir">{{experience.content5}}</div>
            <div class="mt-3 hir">{{experience.content6}}</div>
            <div class="mt-3 hir">{{experience.content7}}</div>
            <div class="mt-3 hir">{{experience.content8}}</div>
            <div class="mt-3 hir">{{experience.content9}}</div>
            <div class="mt-3 mb-4 hir">{{experience.content10}}</div>
             {% endfor %}
        </div>    
</section>

{% endblock %}
