
<header class="header-area">
<section class="row googleheader container-fluid">
  
  <div class="googleleftheader justify-content-center">
        <a class="search" href="{{ path('homepage') }}"><h1 class="googletitle2"><span class="bluegoogleind">H</span><span class="bluegoogle2ind">i</span><span class="bluegoogle2ind">r</span><span class="bluegoogle2ind">e </span><span class="greengoogleind">M</span><span class="greengoogleind2">e!</span></h1></a>
  </div>


  <div class="navmenu">
    <div class="input2 mt-2 txtpresent">
      <input  class="long2" type="text" value="Aurelien Hurpy Web Developer Junior">
      <a class="search" href="{{ path('home') }}"><i class="fas fa-search"></i></a>
    </div>



<nav class="navbar navbar-expand-md navbar-light bg-light">
  <!-- Brand -->
  

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <div class="navbar-container" id="navcont">
    <ul class="navbar-nav">
      <li>
            <a href="{{ path('home') }}"><i class="far fa-address-card"></i> All</a>
            <div class="underline"></div>
          </li>
      <li>
            <a href="{{ path('project') }}"><i class="far fa-newspaper"></i> Project</a>
            <div class="underline"></div>
          </li>
      <li>
            <a href="{{ path('maps') }}"><i class="fas fa-map-marker-alt"></i> Maps</a>
            <div class="underline"></div>
          </li>
       <li>
            <a href="{{ path('experiences') }}"><i class="fas fa-cog"></i> Experiences</a>
            <div class="underline"></div>
          </li>
          <li>
            <a href="{{ path('education') }}"><i class="fas fa-graduation-cap"></i> Education</a>
            <div class="underline"></div>
          </li>
          <li>
            <div class="dropdown">
              <a onclick="myFunction()" class="dropbtn hir"><i class="fas fa-ellipsis-v"></i> More</a>
                <div id="myDropdown" class="dropdown-content">
                  <a href="{{ path('misc') }}" class="hover"><i class="fas fa-code"></i>&nbsp; Skills</a>
                  <a href="{{ path('hobbies') }}" class="hover"><i class="fas fa-gamepad"></i>&nbsp; Hobbies</a>
                  <a href="{{ path('resources') }}" class="hover"><i class="fab fa-git-square"></i>&nbsp; Resources</a>
                </div>
            </div>
          </li>
          </div>
    </ul>
  </div>
</nav>


    
  
  
</section>

</header>


